en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

# Core Web Framework
fastapi
uvicorn
python-multipart
pydantic

# AI & NLP
spacy
sentence-transformers
faiss-cpu
google-genai
google-generativeai
scikit-learn
numpy

# Utilities
PyMuPDF
python-dotenv
requests
